.navigation-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--flag-black);
    color: var(--white);
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    border-radius: 8px;
    z-index: 1000;
  }

 .navigation-btn:hover {
    background-color: var(--flag-green);
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
    z-index: 1;
  }
.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
  }
.dropdown-content a:hover {
    background-color: #f1f1f1;
  }
.show {
    display: block;
    right: 20px;
  }
.heading{
  /* z-index: 500; */
  font-size: 150%;
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}